*.swp
*.o
examples/*/*.h
examples/*/*.cpp
tests/test_[0-9][0-9]
tests/FastAccelStepper.cpp
tests/FastAccelStepper.h
tests/PoorManFloat.cpp
tests/PoorManFloat.h
tests/StepperISR.cpp
tests/StepperISR.h

