*.swp
*.o
*.py
.pio
.dir
.tested
run_avr
pio_dirs
PCB/
examples/*/*.h
examples/*/*.cpp
!examples/*/test_*.cpp
tests/test_[0-9][0-9]
tests/FastAccelStepper.cpp
tests/FastAccelStepper.h
tests/PoorManFloat.cpp
tests/PoorManFloat.h
tests/RampGenerator.cpp
tests/RampGenerator.h
tests/StepperISR*.cpp
tests/StepperISR.h
tests/common.h
tests/*.gnuplot
tests/*_test
sim_tests/*/result.txt
sim_tests/*/x.vcd
sim_tests/test*sd*/src
sim_tests/simavr
esp32_hw_tests/*.log
