*.swp
*.o
*.py
.pio
.dir
.tested
run_avr
pio_dirs
PCB/
examples/*/*.h
examples/*/*.cpp
!examples/*/test_*.cpp
tests/pc_based/test_[0-9][0-9]
tests/pc_based/FastAccelStepper.cpp
tests/pc_based/FastAccelStepper.h
tests/pc_based/PoorManFloat.cpp
tests/pc_based/PoorManFloat.h
tests/pc_based/RampGenerator.cpp
tests/pc_based/RampGenerator.h
tests/pc_based/StepperISR*.cpp
tests/pc_based/StepperISR.h
tests/pc_based/common.h
tests/pc_based/*.gnuplot
tests/pc_based/*_test
tests/simavr_based/*/result.txt
tests/simavr_based/*/x.vcd
tests/simavr_based/test*sd*/src
tests/simavr_based/simavr
tests/esp32_hw_based/*.log
